.fn-clear:before,
.fn-clear:after {
    display: table;
    content: "";
}

.fn-clear:after {
    clear: both;
}

.content {
	position: relative;
	height: 460px;
}

.ztree {
	position: absolute;
	width: 20%;
}


.edit-panel {
	position: absolute;
	width: 80%;
	left: 20%;
}

.output {
	width: 49%
}

.shell {
	float: right;
	width: 49%
}

.shellInput, .shellOutput {	
	width: 99%
}

.shellOutput {
	height: 125px;
}