<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Wide</title>
		<link rel="stylesheet" href="{{.Wide.StaticServer}}/static/codemirror-4.4/codemirror.css">
		<link rel="stylesheet" href="{{.Wide.StaticServer}}/static/codemirror-4.4/addon/hint/show-hint.css">
		  
		<link rel="stylesheet" href="{{.Wide.StaticServer}}/static/codemirror-4.4/theme/lesser-dark.css">
		<link rel="stylesheet" href="{{.Wide.StaticServer}}/static/css/base.css">
		<link rel="stylesheet" href="{{.Wide.StaticServer}}/static/ztree/zTreeStyle.css">
		
		<script type="text/javascript" src="{{.Wide.StaticServer}}/static/codemirror-4.4/codemirror.js"></script>
		<script type="text/javascript" src="{{.Wide.StaticServer}}/static/codemirror-4.4/addon/hint/show-hint.js"></script>
		<script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/go-hint.js"></script>
		
		<script type="text/javascript" src="{{.Wide.StaticServer}}/static/codemirror-4.4/mode/go/go.js"></script>
		<script type="text/javascript" src="{{.Wide.StaticServer}}/static/codemirror-4.4/mode/xml/xml.js"></script>
		<script type="text/javascript" src="{{.Wide.StaticServer}}/static/codemirror-4.4/mode/htmlmixed/htmlmixed.js"></script>
		<script type="text/javascript" src="{{.Wide.StaticServer}}/static/codemirror-4.4/mode/javascript/javascript.js"></script>
		<script type="text/javascript" src="{{.Wide.StaticServer}}/static/codemirror-4.4/mode/markdown/markdown.js"></script>
		<script type="text/javascript" src="{{.Wide.StaticServer}}/static/codemirror-4.4/mode/css/css.js"></script>
				
		<script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="{{.Wide.StaticServer}}/static/ztree/jquery.ztree.all-3.5.min.js"></script>
		<script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/reconnecting-websocket.js"></script>
	</head>
	
	<body>
		<div class="content"> 		
			
			<ul id="files" class="ztree"></ul>
			
				<div class="edit-panel">			
					<textarea id="code" name="code">
// You can edit this code!
// Click here and start typing.
package main

import (
    "fmt"
    "time"
)

func main() {
	for i := 0; i < 5; i++ {
		fmt.Println("Hello, 世界")
		
		time.Sleep(time.Second)
	}
}
					</textarea>
					
				</div>
			</div>
	
			<div>
				<!--<button id="saveBtn" onclick="save()">Save</button>-->
				<button id="fmtBtn" onclick="fmt()">Format</button>
				<button id="runBtn" onclick="run()">Run</button>
			</div>

			<div>			
				<textarea id="output" class="output" rows="10"></textarea>
				
				<span class="shell">
					<div>
						<input id="shellInput" class="shellInput"></input>
					</div>
					
					<textarea id="shellOutput" class="shellOutput" rows="8"></textarea>
				</span>
			</div>
			
		
		
		<script type="text/javascript">
			CodeMirror.commands.autocomplete = function(cm) {
        		cm.showHint({hint: CodeMirror.hint.go});
      		}
	
			var editor = CodeMirror.fromTextArea(document.getElementById('code'), {
				mode: 'go',
				lineNumbers: true,
				theme: 'lesser-dark',
				extraKeys: {
					"Ctrl-\\": "autocomplete"
				}
		  	});
			
			editor.setSize('100%', 450)
			
			editor.addKeyMap({
				
			});
			
			editor.on('keyup', function(cm, event) {

			});
			
			outputWS = new WebSocket('{{.Wide.OutputChannel}}/output/ws');
			outputWS.onopen = function() {
		        console.log('[output onopen] connected');
		    }
		    outputWS.onmessage = function(e) {
				console.log('[output onmessage]' + e.data);
				
				var data = JSON.parse(e.data);
		        $('#output').val($('#output').val() + data.output);
		    }
		    outputWS.onclose = function(e) {
		        console.log('[output onclose] disconnected (' + e.code + ')');
		        delete outputWS;
		    }
		    outputWS.onerror = function (e) {
		        console.log('[output onerror] ' + e);
		    }
			
			editorWS = new WebSocket('{{.Wide.EditorChannel}}/editor/ws');
			editorWS.onopen = function() {
		        console.log('[editor onopen] connected');
		    }
		    editorWS.onmessage = function(e) {
				 console.log('[editor onmessage]' + e.data);
		    }
		    editorWS.onclose = function(e) {
		        console.log('[editor onclose] disconnected (' + e.code + ')');
		        delete editorWS;
		    }
		    editorWS.onerror = function (e) {
		        console.log('[editor onerror] ' + e);
		    }
			
			shellWS = new WebSocket('{{.Wide.ShellChannel}}/shell/ws');
			shellWS.onopen = function() {
		        console.log('[shell onopen] connected');
		    }
		    shellWS.onmessage = function(e) {
				console.log('[shell onmessage]' + e.data);	
				
				var data = JSON.parse(e.data);
				if ('init-shell' !== data.cmd) {
					$('#shellOutput').val(data.output);
				}						
		    }
		    shellWS.onclose = function(e) {
		        console.log('[shell onclose] disconnected (' + e.code + ')');
		        delete shellWS;
		    }
		    shellWS.onerror = function (e) {
		        console.log('[shell onerror] ' + e);
		    }
			
		  	$('#shellInput').keydown(function(event) {  
		        if(13 === event.which) {  
					var input = {
						cmd: $('#shellInput').val()
					};
					
		            shellWS.send(JSON.stringify(input));
					
					$('#shellInput').val('');
		        }  
		    }); 
			
			function save() {
				var request = {
					"project": "hello",
					"file": "main.go",
					"code": editor.getValue()
				};
				
				$.ajax({
					type: 'POST',
					url: '/save',
					data: JSON.stringify(request),
					dataType: "json",
					success: function(data) {
						console.log(data);
					}
				});
			}
			
			function run() {
				var request = {
					"project": "hello",
					"file": "main.go",
					"code": editor.getValue()
				};
				
				$.ajax({
					type: 'POST',
					url: '/run',
					data: JSON.stringify(request),
					dataType: "json",
					beforeSend: function(data) {
						$('#output').val('');
					},
					success: function(data) {
						console.log(data);
					}
				});
			}
			
			function fmt() {
				var request = {
					"project": "hello",
					"file": "main.go",
					"code": editor.getValue(),
					"cursorLine": editor.getCursor().line,
					"cursorCh": editor.getCursor().ch
				};
				
				$.ajax({
					type: 'POST',
					url: '/fmt',
					data: JSON.stringify(request),					
					dataType: "json",
					success: function(data) {
						if (data.succ) {
							editor.setValue(data.code);
						}
					}
				});
			}
			
			var setting = {
				callback: {
					onClick: function(event, treeId, treeNode, clickFlag) {
						console.log(treeNode);
						console.log(clickFlag);
						
						if ("f" === treeNode.type) { // 如果单击了文件
							var request = {
								path: treeNode.path
							};
							
							$.ajax({
								type: 'POST',
								url: '/file',
								data: JSON.stringify(request),
								dataType: "json",
								success: function(data) {
									if (data.succ) {
										editor.setValue(data.content);
										editor.setOption("mode", data.mode);
									}
								}
							});
						}
					}	
				}
			};
			
			$.ajax({
				type: 'GET',
				url: '/files',
				dataType: "json",
				success: function(data) {
					if (data.succ) {
						$.fn.zTree.init($("#files"), setting, data.root.children);
					}
				}
			});
			/*	
			var zNodes = [
				{ name:"父节点1 - 展开", open:true,
					children: [
						{ name:"父节点11 - 折叠",
							children: [
								{ name:"叶子节点111"},
								{ name:"叶子节点112"},
								{ name:"叶子节点113"},
								{ name:"叶子节点114"}
							]},
						{ name:"父节点12 - 折叠",
							children: [
								{ name:"叶子节点121"},
								{ name:"叶子节点122"},
								{ name:"叶子节点123"},
								{ name:"叶子节点124"}
							]},
						{ name:"父节点13 - 没有子节点", isParent:true}
					]},
				{ name:"父节点2 - 折叠",
					children: [
						{ name:"父节点21 - 展开", open:true,
							children: [
								{ name:"叶子节点211"},
								{ name:"叶子节点212"},
								{ name:"叶子节点213"},
								{ name:"叶子节点214"}
							]},
						{ name:"父节点22 - 折叠",
							children: [
								{ name:"叶子节点221"},
								{ name:"叶子节点222"},
								{ name:"叶子节点223"},
								{ name:"叶子节点224"}
							]},
						{ name:"父节点23 - 折叠",
							children: [
								{ name:"叶子节点231"},
								{ name:"叶子节点232"},
								{ name:"叶子节点233"},
								{ name:"叶子节点234"}
							]}
					]},
				{ name:"父节点3 - 没有子节点", isParent:true}
			];
			*/
		</script>
	</body>

</html>