<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Wide</title>
		<link rel="stylesheet" href="{{.StaticServer}}/static/codemirror-4.4/codemirror.css">
		<link rel="stylesheet" href="{{.StaticServer}}/static/codemirror-4.4/addon/hint/show-hint.css">
		  
		<link rel="stylesheet" href="{{.StaticServer}}/static/codemirror-4.4/theme/lesser-dark.css">
		<link rel="stylesheet" href="{{.StaticServer}}/static/css/base.css">
		
		<script type="text/javascript" src="{{.StaticServer}}/static/codemirror-4.4/codemirror.js"></script>
		<script type="text/javascript" src="{{.StaticServer}}/static/codemirror-4.4/addon/hint/show-hint.js"></script>
		<script type="text/javascript" src="{{.StaticServer}}/static/js/go-hint.js"></script>
		<script type="text/javascript" src="{{.StaticServer}}/static/codemirror-4.4/mode/go/go.js"></script>
		<script type="text/javascript" src="{{.StaticServer}}/static/js/lib/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="{{.StaticServer}}/static/js/lib/reconnecting-websocket.js"></script>
	</head>
	
	<body>
		<div>
			<div>
				<div></div>
			</div>
			
			<div >
				<div>			
					<textarea id="code" name="code">
// You can edit this code!
// Click here and start typing.
package main

import (
    "fmt"
	"time"
)

func main() {
	for i := 0; i < 5; i++ {
		fmt.Println("Hello, 世界")
		time.Sleep(time.Second)
	}
}
					</textarea>
					<div id="autocompleteHint" class="autocompleteHint"></div>
				</div>
			</div>	
	
			<div>
				<button id="saveBtn" onclick="save()">Save</button>				
				<button id="fmtBtn" onclick="fmt()">Format</button>
				<button id="runBtn" onclick="run()">Run</button>
			</div>

			<div>			
				<textarea id="output" class="output" rows="10"></textarea>
				
				<span class="shell">
					<div>
						<input id="shellInput" class="shellInput"></input>
					</div>
					
					<textarea id="shellOutput" class="shellOutput" rows="8"></textarea>
				</span>
			</div>
			
		</div>
		
		<script type="text/javascript">
			autocompleteHints = [];
			      
			CodeMirror.commands.autocomplete = function(cm) {
        		cm.showHint({hint: CodeMirror.hint.go});
      		}
	
			var editor = CodeMirror.fromTextArea(document.getElementById('code'), {
				mode: 'go',
				lineNumbers: true,
				theme: 'lesser-dark',
				extraKeys: {
					"Ctrl-\\": "autocomplete"
				}
		  	});
			
			editor.setSize('100%', 400)
			
			editor.addKeyMap({
				/*
			  	"'.'": function(cm) {
			  	  	
			  	}*/
			});
			
			editor.on('keyup', function(cm, event) {
				
				
			});
			
			outputWS = new WebSocket('ws://localhost:8080/output/ws');
			outputWS.onopen = function() {
		        console.log('[output onopen] connected');
		    }
		    outputWS.onmessage = function(e) {
				console.log('[output onmessage]' + e.data);
				
				var data = JSON.parse(e.data);
		        $('#output').val($('#output').val() + data.output);
		    }
		    outputWS.onclose = function(e) {
		        console.log('[output onclose] disconnected (' + e.code + ')');
		        delete outputWS;
		    }
		    outputWS.onerror = function (e) {
		        console.log('[output onerror] ' + e);
		    }
			
			editorWS = new WebSocket('ws://localhost:8080/editor/ws');
			editorWS.onopen = function() {
		        console.log('[editor onopen] connected');
		    }
		    editorWS.onmessage = function(e) {
				// console.log('[editor onmessage]' + e.data);
				
				var data = JSON.parse(e.data);
				
				if ('autocomplete' === data.cmd) {
					var autocompleteArray = JSON.parse(data.output)[1];
					
					for	(var i = 0; i < autocompleteArray.length; i++) {
						autocompleteHints[i] = autocompleteArray[i].name;
					}
					
					// console.log(autocompleteHints);
				}
		    }
		    editorWS.onclose = function(e) {
		        console.log('[editor onclose] disconnected (' + e.code + ')');
		        delete editorWS;
		    }
		    editorWS.onerror = function (e) {
		        console.log('[editor onerror] ' + e);
		    }
			
			shellWS = new WebSocket('ws://localhost:8080/shell/ws');
			shellWS.onopen = function() {
		        console.log('[shell onopen] connected');
		    }
		    shellWS.onmessage = function(e) {
				console.log('[shell onmessage]' + e.data);	
				
				var data = JSON.parse(e.data);
				if ('init-shell' !== data.cmd) {
					$('#shellOutput').val(data.output);
				}						
		    }
		    shellWS.onclose = function(e) {
		        console.log('[shell onclose] disconnected (' + e.code + ')');
		        delete shellWS;
		    }
		    shellWS.onerror = function (e) {
		        console.log('[shell onerror] ' + e);
		    }
			
		  	$('#shellInput').keydown(function(event) {  
		        if(13 === event.which) {  
					var input = {
						cmd: $('#shellInput').val()
					};
					
		            shellWS.send(JSON.stringify(input));
					
					$('#shellInput').val('');
		        }  
		    }); 
			
			function save() {
				var request = {
					"project": "hello",
					"file": "main.go",
					"code": editor.getValue()
				};
				
				$.ajax({
					type: 'POST',
					url: '/save',
					data: JSON.stringify(request),
					dataType: "json",
					success: function(data) {
						console.log(data);
					}
				});
			}
			
			function run() {
				var request = {
					"project": "hello",
					"file": "main.go",
					"code": editor.getValue()
				};
				
				$.ajax({
					type: 'POST',
					url: '/run',
					data: JSON.stringify(request),
					dataType: "json",
					beforeSend: function(data) {
						$('#output').val('');
					},
					success: function(data) {
						console.log(data);
					}
				});
			}
			
			function fmt() {
				var request = {
					"project": "hello",
					"file": "main.go",
					"code": editor.getValue(),
					"cursorLine": editor.getCursor().line,
					"cursorCh": editor.getCursor().ch
				};
				
				$.ajax({
					type: 'POST',
					url: '/fmt',
					data: JSON.stringify(request),					
					dataType: "json",
					success: function(data) {
						if (data.succ) {
							editor.setValue(data.code);
						}
					}
				});
			}
		</script>
	</body>

</html>