<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Wide Demo</title>
		<link rel="stylesheet" href="{{.StaticServer}}/static/codemirror-4.4/codemirror.css">
		<link rel="stylesheet" href="{{.StaticServer}}/static/codemirror-4.4/theme/lesser-dark.css">
		
		<script type="text/javascript" src="{{.StaticServer}}/static/codemirror-4.4/codemirror.js"></script>
		<script type="text/javascript" src="{{.StaticServer}}/static/codemirror-4.4/mode/go/go.js"></script>
		<script type="text/javascript" src="{{.StaticServer}}/static/js/lib/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="{{.StaticServer}}/static/js/lib/reconnecting-websocket.js"></script>
	</head>
	
	<body>
		<div>
			<div>
				<div></div>
			</div>
			
			<div >
				<div>			
					<textarea id="code" name="code">
// You can edit this code!
// Click here and start typing.
package main

import (
    "fmt"
	"time"
)

func main() {
	for i := 0; i < 5; i++ {
		fmt.Println("Hello, 世界")
		time.Sleep(time.Second)
	}
}
					</textarea>
				</div>
			</div>	
	
			<div>
				<button id='runBtn' onclick='run()'>Run</button>
				<button id='fmtBtn' onclick='fmt()'>Format</button>
			</div>

			<div>			
				<textarea id='output' rows='10' cols='80'></textarea>
			</div>
			
		</div>
		
		<script type="text/javascript">      
			var editor = CodeMirror.fromTextArea(document.getElementById('code'), {
				mode: 'go',
				lineNumbers: true,
				theme: 'lesser-dark'
		  	});
			
			editor.on('keyup', function(cm, event) {
				console.log(event);
				
				console.log(cm.getCursor());
				
				if (190 === event.keyCode) { // 按下 .
					// 自动补全
					var data = {
						code: cm.getValue(),
						cursorLine: cm.getCursor().line,
						cursorCh: cm.getCursor().ch
					};
					
					editorWS.send(JSON.stringify(data));					
				}
			});
			
			outputWS = new WebSocket('ws://localhost:8080/output/ws');
			outputWS.onopen = function() {
		        console.log('[output onopen] connected');
		    }
		    outputWS.onmessage = function(e) {
				console.log('[output onmessage]' + e.data);
				
				var data = JSON.parse(e.data);
		        $('#output').val($('#output').val() + data.output);
		    }
		    outputWS.onclose = function(e) {
		        console.log('[output onclose] disconnected (' + e.code + ')');
		        delete outputWS;
		    }
		    outputWS.onerror = function (e) {
		        console.log('[output onerror] ' + e);
		    }
			
			editorWS = new WebSocket('ws://localhost:8080/editor/ws');
			editorWS.onopen = function() {
		        console.log('[editor onopen] connected');
		    }
		    editorWS.onmessage = function(e) {
				console.log('[editor onmessage]' + e.data);
		    }
		    editorWS.onclose = function(e) {
		        console.log('[editor onclose] disconnected (' + e.code + ')');
		        delete editorWS;
		    }
		    editorWS.onerror = function (e) {
		        console.log('[editor onerror] ' + e);
		    }
			
			/*
			testWS = new WebSocket('ws://localhost:8083');
			testWS.onopen = function() {
		        console.log('[testWS onopen] connected');
		    }
		    testWS.onmessage = function(e) {
				console.log('[testWS onmessage]' + e.data);				
		    }
		    testWS.onclose = function(e) {
		        console.log('[testWS onclose] disconnected (' + e.code + ')');
		        delete testWS;
		    }
		    testWS.onerror = function (e) {
		        console.log('[testWS onerror] ' + e);
		    }
			*/
			
			function run() {
				var request = {
					"project": "hello",
					"file": "main.go",
					"code": editor.getValue(),
					"cursor": editor.getCursor()
				};
				
				$.ajax({
					type: 'POST',
					url: '/run',
					data: JSON.stringify(request),
					beforeSend: function(data) {
						$('#output').val('');
					},
					success: function(data) {
						console.log(data);
					},
					dataType: "json"
				});
			}
			
			function fmt() {
				var request = {
					"project": "hello",
					"file": "main.go",
					"code": editor.getValue(),
					"cursorLine": editor.getCursor().line,
					"cursorCh": editor.getCursor().ch
				};
				
				$.ajax({
					type: 'POST',
					url: '/fmt',
					data: JSON.stringify(request),					
					success: function(data) {
						if (data.succ) {
							editor.setValue(data.code);
						}
					},
					dataType: "json"
				});
			}
		</script>
	</body>

</html>